* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: #11114e;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

h1 {
  color: white;
  font-size: 50px;
}

h2 {
  color: white;
  font-size: 25px;
}

p {
  color: white;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informations {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

.jeux {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 80vh; /* 100% de la hauteur de la fenêtre */
  margin: 0;
}

/* Styles par défaut du bouton */
.boutonlevel {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Style du bouton en gris */
.boutonlevel.gris {
  background-color: #000000;
  color: #ffffff;
}

/* Style du bouton en blanc */
.boutonlevel.blanc {
  background-color: #ffffff;
  color: #000000;
}
